---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>최근 입장</span></h2>
    </div>
    <div class="row">
    {% assign counts = 1 %}

    {% for post in site.posts %}

        {% if counts < 3 %}
        {% if post.tag == "입장" %}

            
            {% include featuredbox.html %}
            {% assign counts = counts | plus:1 %}
        {% endif %}
        {% endif %}
    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->

<section class="recent-posts">

    <div class="section-title">

        <h2><span>최근 활동 소식</span></h2>

    </div>
    <div class="row listrecent">
        {% assign counts = 1 %}
        {% for post in site.posts %}
        {% if post.tag == "활동 소식" %}
        {% if counts < 4 %}
        {% include postbox.html %}
        {% assign counts = counts | plus:1 %}
        {% endif %}
        {% endif %}
        {% else %}
        {% endfor %}

    </div>

</section>


