<div class="share sticky-top sticky-top-offset">
    <p>
        공유하기
    </p>
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url }}%20-%20투쟁하는%20노동자와%20함께하는%20부산경남%20청소년%20연대모임">
                <i class="fab fa-twitter"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://facebook.com/sharer/sharer.php?u={{ page.url }}">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>


    </ul>

</div>
